<div class="row mt-4">
  <div class="col-lg-6 offset-lg-3">
    <img class="img-fluid w-100 rounded mb-3" src="{{event.dataValues.imgUrl}}" alt="Card image cap">
    <h3>{{event.dataValues.title}}</h3>
    <div class="lead">{{event.dataValues.desc}}</div>
  </div>
</div>